* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.main {
  background-image: url(sky.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  background-position: center;
}
.road {
  background-image: url(road.jpg);
  height: 250px;
  width: 500%;
  display: block;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;
  animation: road 8s linear infinite;
  background-repeat: repeat-x;
}
@keyframes road {
  100% {
    transform: translateX(-3400px);
  }
}
.city {
  background-image: url(city.png);
  height: 300px;
  width: 500%;
  position: absolute;
  bottom: 200px;
  left: 0%;
  right: 0%;
  background-repeat: repeat-x;
  z-index: 1;
  display: block;
  animation: city 30s linear infinite;
}
@keyframes city {
  100% {
    transform: translateX(-1400px);
  }
}
.car {
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 100px;
  z-index: 2;
}
.car img {
  width: 100%;
  animation: car 1s linear infinite;
}
@keyframes car {
  0% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-1px);
  }
}
.wheels {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  bottom: 182px;
  z-index: 2;
}
.wheels img {
  width: 72px;
  height: 72px;
  animation: rotate 0.5s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.backwheel {
  position: absolute;
  left: -165px;
}
.frontwheel {
  position: absolute;
  left: 80px;
}
